<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\LUA\BIN\lua53.exe</StartProgram>
    <StartArguments>main.lua</StartArguments>
    <StartWorkingDirectory>E:\LUA\BIN</StartWorkingDirectory>
  </propertyGroup>
</Project>